<div>
  <form [formGroup]="form" (ngSubmit)="search()">
    <label for="eventType">Tipo de Evento:</label>
    <select id="eventType" formControlName="eventType">
      <option value="">Todos</option>
      <option value="Api">Api</option>
      <option value="Formulario">Formulario de eventos</option>
    </select>

    <label for="startDate">Fecha Inicio:</label>
    <input type="date" id="startDate" formControlName="startDate" />

    <label for="endDate">Fecha Fin:</label>
    <input type="date" id="endDate" formControlName="endDate" />
    <button type="submit">Buscar</button>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>Tipo de Evento</th>
      <th>Fecha del Evento</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.typeEvent }}</td>
      <td>{{ event.dateEvent }}</td>
      <td>{{ event.descriptionEvent }}</td>
    </tr>
  </tbody>
</table>
